.main{
  width: 500px;
  height: 650px;
}
textarea{
  width: 100%;
}
h5{
  display: flex;
  align-content: center;
  align-items: center;
  // justify-content: center;
  justify-items: center;
}
span.rounded-pill{
  font-size: medium;
}
.mat-form-field{
  width: 100%;
}
.submitbtn{
  padding: 10px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}