<!-- ============================================================== -->
<!-- Basic-->
<!-- ============================================================== -->
<mat-card>
  <mat-card-content>
    <h4 class="mb-32">Inquries</h4>
    <mat-card-title></mat-card-title>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let query of queries">
        <mat-expansion-panel-header>
          <mat-panel-title>{{query.requirement.department}}</mat-panel-title>
          <mat-panel-description>
            <div style="display: flex;flex-direction: column;align-items: center;align-content: center;">
            {{query.comment}} 
            <span class="{{badgeMap(query.status)}} rounded-pill">{{captionMap(query.status)}}</span>
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{query.response===''?"No response yet. 😟":query.response}}</p>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
