<!-- ============================================================== -->
<!-- Basic-->
<!-- ============================================================== -->
<mat-card>
  <mat-card-content>
    <h4 class="mb-32">Queries</h4>
    <div style="flex-direction:row">
      <mat-button-toggle-group [(ngModel)]="queryMode" aria-label="Font Style" (change)="updateList()">
        <mat-button-toggle [value]="respMode">Responded</mat-button-toggle>
        <mat-button-toggle [value]="unrespMode">Unresponded</mat-button-toggle>
      </mat-button-toggle-group>
      <div style="display: flex;flex-direction: row;justify-content: flex-start;">
        <h3 style="margin: 30px;">Page Number: </h3>
        <mat-select style="margin: 30px; width: 200px;" [(value)]="pageNum" (valueChange)="updateList()">
            <mat-option *ngFor="let i of pagenums" [value]="i">{{i}}</mat-option>
        </mat-select>
      </div>
    </div>
    <div *ngIf="queryMode===respMode">
      <!-- <h2>Unresponded</h2> -->
      <mat-accordion>
          <mat-expansion-panel *ngFor="let query of respondedQueries">
            <mat-expansion-panel-header>
              <mat-panel-title>{{query.requirement.department}}</mat-panel-title>
              <mat-panel-description>
                <div style="display: flex;flex-direction: column;align-items: center;align-content: center;">
                {{query.comment}} 
                <span class="{{badgeMap(query.status)}} rounded-pill">{{captionMap(query.status)}}</span>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Response: {{query.response}}</p>
          </mat-expansion-panel>
          <div *ngIf="unrespondedQueries.length === 0">
            Nothing to show here.
          </div>
    </mat-accordion>
  </div>
    <div *ngIf="queryMode===unrespMode">
      <!-- <h2>Responded</h2> -->
      <mat-accordion>
          <mat-expansion-panel *ngFor="let query of unrespondedQueries">
            <mat-expansion-panel-header>
              <mat-panel-title>{{query.requirement.department}}</mat-panel-title>
              <mat-panel-description>
                <div style="display: flex;flex-direction: column;align-items: center;align-content: center;">
                {{query.comment}} 
                <span class="{{badgeMap(query.status)}} rounded-pill">{{captionMap(query.status)}}</span>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>{{"No response yet. 😟"}}</p>
          </mat-expansion-panel>
          <div *ngIf="respondedQueries.length === 0">
            Nothing to show here.
          </div>
    </mat-accordion>
    </div>
  </mat-card-content>
</mat-card>
