<!-- ============================================================== -->
<!-- Basic Card Grid-->
<!-- ============================================================== -->
<mat-card *ngFor="let group of docGroups">
  <mat-card-content>
    <h4 class="mb-32">{{group.title}}</h4>
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile *ngFor="let doc of group.docs">
        <div class="divTileOuter">
          <div class="divTile">
            <p>{{doc}}</p>
            <i-feather name="file" class="feather-base me-16"></i-feather>
          </div>
          <button mat-raised-button class="me-8 mb-8" color="accent">
            Download <i-feather name="download" class="feather-base me-16"></i-feather>
          </button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
