<!-- ============================================================== -->
<!-- row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- Card column -->
    <div fxFlex="100%" fxFlex="100">
      <mat-card>
        <mat-card-content>
            <div class="loginpage">
                <button mat-raised-button (click)="login()" style="font-size: 25px;padding: 10px;border-radius: 50px; background-color: blue;color: white;">
                    Log In with SSO
                </button>
            </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  