.loginpage{
    display: flex;
    align-self: center;
    justify-items: center;
    align-items: center;
    justify-content: center;
}
.mainLogin{
    // background-color: blue;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-self: center;
    justify-items: center;
    align-items: center;
    justify-content: center;
}