<!-- ============================================================== -->
<!-- row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
  <!-- Card column -->
  <div fxFlex="100%" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <h4 class="mb-32">Records for {{department}}</h4>
        <app-upload></app-upload>
        <button mat-raised-button color="primary">Download Records</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
