<div>
  <mat-expansion-panel *ngFor="let inquiry of inquiries">
    <mat-expansion-panel-header>
      <div class="headerDiv">
      <span class="badge badge-{{['danger','primary','success'][inquiry.status]}} rounded-pill">{{['Rejected','Processing','Accepted'][inquiry.status]}}</span>
      <h3>{{inquiry.studentID}}:</h3><p style="display: inline;">{{inquiry.comment.slice(0,20)+(inquiry.comment.length>20?'...':'')}}</p>
      </div>
    </mat-expansion-panel-header>
    <h4>{{inquiry.comment}}</h4>
    <button mat-raised-button color="primary" (click)="openDoc(inquiry)">View Docs</button>
    <a href="{{inquiry.document}}" style="display:none;" target="_blank" #docLink></a>
  </mat-expansion-panel>
</div>